*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  background: #e1ecf2;
}

header a {
  color: wheat;
  font-size: medium;
  margin-left: 20px; /* Adjust spacing between links */
}

header a:hover {
  color: #1fc2df; /* Change color on hover */
}

/* Style the additional links */
header a {
  font-size: medium;
  color: #fff;
  text-decoration: none;
  margin-left: 20px; /* Adjust spacing between links */
}

/* Adjust the header layout */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #3a5cae 0%, #2e4c7c 50%, #1a2f4a 100%);
  color: #fff;
  font-weight: 500;
  font-size: 2rem; /* Adjusted font size */
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: calc(100% - 70px);
  height: 100%;
}
.logo-img{
  width:100%; /* you can use % */
  height: auto;
}


.wrapper .top_navbar {
  position: fixed;
  top: 0px;
  height: 100px;
  width:100%;
  display: flex;
}
.wrapper .top_navbar .hamburger {
  width: 70px;
  height: 100%;
  background: #3a5cae;
  padding: 15px 17px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: white  
}

.wrapper {
  display: flex;
}
.wrapper .sidebar {
  position: fixed;
  top: 100px;
  left: 0;
  background: #3a5cae;
  width: 200px;
  height: calc(100% - 80px);
  border-bottom-right-radius: 20px;
  transition: all 0.3s ease;
  overflow-y: auto;
}
.wrapper .main-container {
  margin-top: 100px;
  margin-left: 200px;
  padding: 5px;
  transition: all 0.3s ease;
  width: 100%;
}
.wrapper.collapse .sidebar {
  width: 70px;
}
.wrapper.collapse .main-container {
  margin-left: 70px;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 15px; /* Adjusted padding */
  color: #fff;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  background: #2e4c7c;
}

/* Настройки аккордиона */
.sub-categories {
  display: none;
  position: fixed;
 left: 200px; /* Position sub-categories to the right of the sidebar */
  background: #265CB2; /* Different background color for sub-categories */
}
.accordion-item {
  margin-bottom: 5px;
}
.accordion-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selected {
  background: #051a5a; /* Add your selected category styling here */
}

.arrow {
  display: none; /* Hide arrow by default */
}

.arrow::after {
  content: '▶';
}

.arrow.show {
  display: inline-block; /* Show arrow if category has sub-categories */
  margin-left: 10px;
}


/* Кнопки */  
.btn {
  display: block;
  padding: 10px 40px;
  margin: 10px auto;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  color: #784ba0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  max-width: fit-content;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn:visited {
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  animation: gelatine 0.5s 1;
}

@keyframes gelatine {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
/* Кнопки */  

/*  Главная страница*/
/* Блок новостей */
.feed{
  background: #f5f5f5; /* Change the background color of the feed block */
  display: flex;
  flex-direction: row;
}
.feed h2 {
  font-size: 1.8rem; /* Adjust the font size for headings within the feed block */
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines you want to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.feed p {
  font-size: 1.4rem; /* Adjust the font size for paragraphs within the feed block */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines you want to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  }
.feed a{
  color: rgb(0, 0, 0);
}
.feed a:hover{
  color: rgb(16, 43, 131); 
}

.feed .news-block:hover, .feed .special-offer-block:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the box shadow on hover */
}

.news-block, .special-offer-block {
    padding: 3px;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    width: 48%;  /* Adjust width as needed */
}
.current-post{
  display: block;
  padding: 10px; /* Add padding for spacing */
  width: 75%;
}
.posts-list{
  background: #2652CC;
  width: 25%;
}

/* Tabs Names Label */
.tabs-container label{
  padding: 6px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  user-select: none;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines you want to display */
  -webkit-box-orient: vertical;
  overflow:hidden;
}
/* Hover effect on tabs names */
.tabs-container label:hover{
 background: rgba(0, 0, 0, 0.2);
}
.tabs-container label.active{
  background: rgba(255, 0, 0, 0.2);
}
/* Content area for tabs */
.tab-content{
  display: none;
  border-top: 1px solid #051a5a;
}
.tab-content a{
  display: block;
  height: 87%;
  color: rgb(0, 0, 0);
}
.tab-content.active {
  background-color: #f0f0f0; /* Light grey background */
  border: 1px solid #ddd; /* Light grey border */
  padding: 10px; /* Padding inside the tab */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Slight shadow for depth */
}
/* Hide input radio from users */
input[name="news-tab"]{
  display: none;
}
/* Show tab when input checked */
input[name="news-tab"]:checked + .tab-content{
  display: block;
  /* animation: slide 0.5s forwards; */
}
/* Hide input radio from users */
input[name="offers-tab"]{
  display: none;
}
/* Show tab when input checked */
input[name="offers-tab"]:checked + .tab-content{
  display: block;
  /* animation: slide 0.5s forwards; */
}

/* Slide animation for tab contents */
/* @keyframes slide{
  from{
    left: -100%;
    opacity: 0;
  }
  to{
    left: 0;
    opacity: 1;
  }
} */
/* Конец блока новостей */

/* Каталог товаров */
.item-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Display items in a grid layout with 4 columns */
  gap: 20px; /* Add space between items */
}

.item {
  border: 1px solid #ccc; /* Add a border around each item */
  padding: 10px; /* Add padding inside each item */
}

.item img {
  width: 100%; /* Make the image fill the width */
  height: 200px; /* Set a fixed height for the image */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}
.item h3 {
  margin-top: 10px; /* Add space between image and item name */
}

.item p {
  margin: 5px 0; /* Add spacing between quantity and price */
}
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
}

.pagination a,
.pagination span {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #f0f0f0;
}

.pagination .active {
    font-weight: bold;
}