* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
/* Стиль тела */
body{
  background-color: white;
}
/* Define the scrollbar style */
body::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

/* Define the thumb style */
body::-webkit-scrollbar-thumb {
   background: linear-gradient(90deg, #031133 0%, #2e4c7c 50%, #1a2f4a 100%);
}

/* Define the track style */
body::-webkit-scrollbar-track:horizontal {
  background-color: white;
}
/* Конец тела */
/* Хэдер */
header a{
  font-size: medium;
  color: #fff;
  text-decoration: none;
  margin-left: 20px; /* Adjust spacing between links */
  margin-bottom: 5px;
}
header a:hover {
  color: #1fc2df; /* Change color on hover */
}
.header-btn {
  font-size: medium;
  color: #fff;
  text-decoration: none;
  margin-left: 20px; /* Adjust spacing between links */
  margin-bottom: 5px;
  
  /* Remove button styling */
  background: none;
  border: none;
  padding: 0;
  cursor: pointer; /* Add pointer cursor to indicate clickable element */
}
.header-btn:hover {
  color: #1fc2df; /* Change color on hover */
}

/* Adjust the header layout */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #3a5cae 0%, #2e4c7c 50%, #1a2f4a 100%);
  color: #fff;
  font-weight: 500;
  font-size: 2rem; /* Adjusted font size */
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: calc(100% - 70px);
  height: 100%;
  padding-right: 20px;
}
.logo-img{
  width:100%; /* you can use % */
  height: auto;
}
.search-bar {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.search-bar input[type="text"] {
  width: 200px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.search-bar button[type="submit"] {
  padding: 5px 10px;
  background: #3a5cae;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 20px;
}

.search-bar button[type="submit"]:hover {
  background: #2e4c7c;
}

.wrapper .top_navbar {
  position: fixed;
  top: 0px;
  height: 100px;
  width:100%;
  display: flex;
}
.wrapper .top_navbar .hamburger {
  width: 70px;
  height: 100%;
  background: #3a5cae;
  padding: 15px 17px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: white  
}
/* Конец хэдера */
/* Основной контейнер и сайд-бар +футер*/
.wrapper {
  display: flex;
  min-height: 100%;
}
.wrapper .sidebar {
  position: fixed;
  top: 100px;
  left: 0;
  background: #3a5cae;
  width: 200px;
  height: calc(100% - 80px);
  border-bottom-right-radius: 20px;
  transition: all 0.3s ease;
  overflow-y: auto;
}
.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Define the thumb style */
.sidebar::-webkit-scrollbar-thumb {
  background: #87a3e4;
}

/* Define the track style */
.sidebar::-webkit-scrollbar-track:horizontal {
  background-color: white;
}
.wrapper .main-container {
  margin-top: 100px;
  margin-left: 200px;
  padding: 5px;
  transition: all 0.3s ease;
  width: 100%;
}
footer{
  margin-left: 200px;
  background: linear-gradient(90deg, #3a5cae 0%, #2e4c7c 50%, #1a2f4a 100%);
  color: #fff;
  transition: all 0.3s ease;
}
footer table {
  width: 100%;
  border-collapse: collapse;
}
.footer-column {
  width: 20%;
}
footer  h4 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
footer table tr td {
  padding: 15px;
}
footer p,
footer a {
  color: #afafaf;
  line-height: 1.6;
}
footer a:hover{
  color: #1fc2df; /* Change color on hover */
}
footer b{
  color: #fff;
}

.wrapper.collapse .sidebar {
  width: 70px;
}
.wrapper.collapse .main-container {
  margin-left: 70px;
}
.wrapper.collapse ~ footer {
  margin-left: 70px;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 15px; /* Adjusted padding */
  color: #fff;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  background: #2e4c7c;
}

/* Настройки аккордиона */
.sub-categories {
  display: none;
  position: fixed;
  left: 200px; /* Position sub-categories to the right of the sidebar */
  background: #265CB2; /* Different background color for sub-categories */
}
.wrapper.collapse .sub-categories{
  left: 70px;
}
.accordion-item {
  margin-bottom: 5px;
}
.accordion-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selected {
  background: #051a5a; /* Add your selected category styling here */
}

.arrow {
  display: none; /* Hide arrow by default */
}

.arrow::after {
  content: '▶';
}

.arrow.show {
  display: inline-block; /* Show arrow if category has sub-categories */
  margin-left: 10px;
}


/* Кнопки */  
.btn {
  display: block;
  padding: 10px 40px;
  margin: 10px auto;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  color: #784ba0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  max-width: fit-content;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn:visited {
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  animation: gelatine 0.5s 1;
}
.btn-red{
  background-color: red;
  color: white;
  padding: 5px;
}
.btn-red:hover{
  background-color: darkred;
  cursor: pointer;
}
.btn-simple{
  background-color: rgba(0, 111, 185, 0.774);
  color: white;
  font-size: large;
  padding: 15px 20px;
}
.btn-simple:hover{
  background-color: rgb(20, 40, 216);
  cursor: pointer;
}

@keyframes gelatine {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
/* Кнопки */  

/*  Главная страница*/
/* Блок новостей */
.feed{
  background: #f5f5f5; /* Change the background color of the feed block */
  display: flex;
  flex-direction: row;
}
.feed h2 {
  font-size: 1.8rem; /* Adjust the font size for headings within the feed block */
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines you want to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.feed p {
  font-size: 1.4rem; /* Adjust the font size for paragraphs within the feed block */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines you want to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  }
.feed a{
  color: rgb(0, 0, 0);
}
.feed a:hover{
  color: rgb(16, 43, 131); 
}

.feed .news-block:hover, .feed .special-offer-block:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the box shadow on hover */
}

.news-block, .special-offer-block {
    padding: 3px;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    width: 48%;  /* Adjust width as needed */
}
.current-post{
  display: block;
  padding: 10px; /* Add padding for spacing */
  width: 75%;
}
.posts-list{
  background: #2652CC;
  width: 25%;
}

/* Tabs Names Label */
.tabs-container label{
  padding: 6px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  user-select: none;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines you want to display */
  -webkit-box-orient: vertical;
  overflow:hidden;
}
/* Hover effect on tabs names */
.tabs-container label:hover{
 background: rgba(0, 0, 0, 0.2);
}
.tabs-container label.active{
  background: rgba(255, 0, 0, 0.2);
}
/* Content area for tabs */
.tab-content{
  display: none;
  border-top: 1px solid #051a5a;
}
.tab-content a{
  display: block;
  height: 87%;
  color: rgb(0, 0, 0);
}
.tab-content.active {
  background-color: #f0f0f0; /* Light grey background */
  border: 1px solid #ddd; /* Light grey border */
  padding: 10px; /* Padding inside the tab */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Slight shadow for depth */
}
/* Hide input radio from users */
input[name="news-tab"]{
  display: none;
}
/* Show tab when input checked */
input[name="news-tab"]:checked + .tab-content{
  display: block;
  /* animation: slide 0.5s forwards; */
}
/* Hide input radio from users */
input[name="offers-tab"]{
  display: none;
}
/* Show tab when input checked */
input[name="offers-tab"]:checked + .tab-content{
  display: block;
  /* animation: slide 0.5s forwards; */
}

/* Конец блока новостей */

/* Каталог товаров */
.item-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Display items in a grid layout with 4 columns */
  gap: 20px; /* Add space between items */
  margin: 25px 10px;
}

.item {
  border: 1px solid #ccc; /* Add a border around each item */
  padding: 10px; /* Add padding inside each item */
}

.item img {
  width: 100%; /* Make the image fill the width */
  height: 200px; /* Set a fixed height for the image */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}
.item h3 {
  margin-top: 10px; /* Add space between image and item name */
}

.item p {
  margin: 5px 0; /* Add spacing between quantity and price */
}
/* Пагинация */
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
}

.pagination a,
.pagination span {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #f0f0f0;
}

.pagination .active {
    font-weight: bold;
}


/* Item page */
.item-name {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.item-categories {
  margin-bottom: 10px;
}
.category-tag {
  display: inline-block;
  padding: 5px 10px;
  background: #3a5cae;
  color: #fff;
  border-radius: 20px;
  margin-right: 10px;
  text-decoration: none;
  margin-bottom: 3px;
}

.carousel-container {
  overflow-x: scroll;
  display: flex;
  scroll-behavior: smooth;
  float: left;
  max-width: 500px; /* Limiting the width of the carousel */
  margin-right: 20px; /* Add spacing between carousel and description */
}

.carousel-container div {
  flex: 0 0 auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-right: 10px;
}

.item-image {
  width: 300px;
  height: 350px;
  object-fit:fill;
  border-radius: 10px;
  margin-bottom: 15px;
}
/*  */

/* about */
.about-container {
  font-size: 1.3rem;
  color: #333;
  padding: 5px;
  background: #f9f9f9;
  line-height: 1.5;
}

.about-container ul {
  list-style: none;
  padding-left: 20px;
}

.about-container ul li {
  margin-bottom: 5px;
}

.about-container ul li:before {
  content: "•";
  color: #3a5cae;
  margin-right: 5px;
}

.about-container p {
  margin-bottom: 10px;
}
.about-container-sub{
  border-left: #051a5a 2px solid;
  padding-left: 5px;
  margin: 10px 0px;
}
/* Контакты */

.contact-block h2 {
  text-align: center;
  font-size: 30px;
  color: #333333;
}
.contact-info {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.contact-block {
  width: 48%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.contact-block p {
  margin: 10px 0;
}
#YMapsID {
  width: 100%;
  height: 400px;
  margin: 20px 0;
}
/* Вакансии */
.vacancies-container{
  font-size: large;
}

.vacancy-block ul li::before{
  content: "•";
  color: #3a5cae;
  margin-right: 5px;
}

/* Новости */
.article-preview a{
  display: block;
  color: rgb(0, 0, 0);
}
.article-preview {
  background-color: #f0f0f0; /* Light grey background */
  border: 1px solid #ddd; /* Light grey border */
  padding: 10px; /* Padding inside the tab */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Slight shadow for depth */
  margin-bottom: 10px;
}
.article-preview h2 {
  font-size: 1.8rem; /* Adjust the font size for headings within the feed block */
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines you want to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.article-preview p {
  font-size: 1.4rem; /* Adjust the font size for paragraphs within the feed block */
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines you want to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  }
  
.news-article {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}
.news-article h1 {
    text-indent: 20px;
    font-size: 2.4em;
    font-weight: 700px;
}
.article-date {
  padding-bottom: 40px;
}
.news-article p {
    font-size: 1.7em;
    line-height: 1.5;
    text-indent: 20px;
}

/* Акции */
.special-offer-article{
  background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}
.special-offer-article h1 {
  text-indent: 20px;
  font-size: 2.4em;
  font-weight: 700px;
}
.special-offer-article p {
  font-size: 1.7em;
  line-height: 1.5;
  text-indent: 20px;
}

.special-offer-article li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.special-offer-article li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.special-offer-article li a:hover {
  color: #007bff;
}

/* Стилизация аутентификакии */

.error-message {
  color: red;
  font-size: 0.8rem;
}


.success-message {
  color: green;
  font-size: 0.8rem;
}
/* Profile Information Section */
.profile-section {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.profile-section h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.profile-section p {
  font-size: 1.4rem;
  color: #666;
  margin-bottom: 20px;
}

.profile-form {
  display: grid;
  grid-template-columns: 1fr;
}

.profile-form label {
  font-weight: bold;
  font-size: large;
  color: #333;
}

.profile-form input[type="text"],
.profile-form input[type="email"],
.profile-form input[type="password"] {
  width: 100%;
  border: 1px solid #ccc;
  font-size: large;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}


.profile-message {
  font-size: 1rem;
  color: green;
  margin-top: 10px;
}

/* Страница категорий */
.category-details{
  display: block;
  width: 100%;
  padding-left: 0;
  font-size: large;
  text-indent: 10px;
  line-height: 2;
  border-bottom: black solid 1px;
}
.category-details img{
  display: block;
  max-height: 70%;
  margin: 10px;
}
.category-details li{
  list-style-type: disc ;
  list-style-position: inside;
}

/* Заказы Orders */
.gradient-header{
  background: linear-gradient(90deg, #3a5cae 0%, #2e4c7c 50%, #1a2f4a 100%);
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}
.order-card h2 {
  text-align: left;
  font-size: 30px;
  color: #333333;
}
.order-card {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.order-card p {
  margin: 10px 0;
}
/*  */